<link rel="stylesheet" href="/assets/css/TeachingMaterial2.css">
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<body>
    <div class="mainContainer">
        <div *ngIf="msg !== '' ">
            <div class="error">
                <p style="text-align:center;">
                  {{msg}}
                </p>
            </div>
        </div>

    
        <Div class="panel">
            <div *ngIf="displayedMaterials">
                <div class="information" style="position:relative;" *ngFor="let item of displayedMaterials">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <Label> {{item.material_title}} </Label>
                    <div class="textB box">
                        <label class="material_info">Field: {{item.material_subject}}</label>
                        <label class="material_info" style="font-style:italic;">By: {{item.username}}</label>
                        <label class="material_info">Register Date: {{item.date_added?.toDate() | date:'short'}}</label>
                        <label class="material_info">{{item.material_description}}</label>
                        <label style="cursor: pointer; color: var(--first-color);" (click)="download(item.id!)">{{item.material_file_name}}</label>
                    </div>
                </div>
                <div class="pagination">
                    <button style="margin-right: 3px;" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                    <button  (click)="nextPage()" [disabled]="endIndex >= material_list.length">Next</button>
                </div>
            </div>
        </Div>
    </div>
    
</body>
