<link rel="stylesheet" href="/assets/css/TeachingMaterial2.css">
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<body>
    <div class="mainContainer">
        <div *ngIf="msg !== '' ">
            <div class="error">
                <p style="text-align:center;">
                  {{msg}}
                </p>
            </div>
        </div>

    
        <Div class="panel">
            <div *ngIf="displayedMaterials">
                <div class="information" style="position:relative;" *ngFor="let item of displayedMaterials">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <Label> {{item.material_title}} </Label>
                    <div class="textB material_information">
                        <div class="label_div box">
                            <label class="material_info">Field: {{item.material_subject}}</label>
                            <label class="material_info" style="font-style:italic;">By: {{item.username}}</label>
                            <label class="material_info">Register Date: {{item.date_added?.toDate() | date:'short'}}</label>
                            <label class="material_info">Visibility: {{item.exposure ? 'Public' : 'Private' }}</label>
                            <br>
                            <label class="material_info">{{item.material_description}}</label>
    
                            <label style="cursor: pointer; color: var(--first-color);" (click)="download(item.id!)">{{item.material_file_name}}</label>
                        </div>
                        <div class="img_div" >
                            <!-- Iterate through the thumbnails for each material -->
                            <div  *ngFor="let imageUrl of item.thumbnail">
                                <img [src]="imageUrl" alt="Selected Image" style="height: 200px; width: 200px; object-fit: cover;" class="thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <button style="margin-right: 3px;" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                    <button  (click)="nextPage()" [disabled]="endIndex >= material_list.length">Next</button>
                </div>
            </div>
        </Div>
    </div>
    
</body>
