<link rel="stylesheet" href="/assets/css/TeachingMaterial.css">
<link rel="stylesheet" href="/assets/css/Global.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<body>
    <h1>Materials</h1>
    <div class="mainContainer">
        
        
        <div class="full_width_container">
            <div *ngIf="user_information?.data.role == 'Admin' || user_information.data.role == 'Teacher'">
                <div style="display:flex; justify-content:flex-end;">
                    <label (click)="editpage()" id="edit_icon" class="firstButton">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <div *ngIf="msg !== '' ">
                <div class="error">
                    <p id="error_message" style="text-align:center;">
                      {{msg}}
                    </p>
                </div>
            </div>

            <div class="mainContainer">
                <div class="innerContainer" *ngIf="items">
                    <button class="selectionButton" *ngFor="let item of items" (click)="redirectpage(item)" >{{item}}  </button>
                </div>
            </div>
        </div>
    </div>
</body>