.selectionButton{
    text-overflow: ellipsis ;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden;
}
.innerContainer{
    overflow: hidden;
}
h1{
  text-align: center;
}