#main_container{
    max-width: 1440px;
    align-items: center;  
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
    #main_container {
       flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .mainContainer {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
