<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&display=swap" rel="stylesheet">


<body>
    <div id="main_container">
        <div id="left_container">
            <div  style="font-weight: bold; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                <div style="color: #777777; font-size: 3.0em; font-weight	: 800; ">We are working a on a<br>great price for you!</div>
                <br>
                <button class="pricingButton">Sign up and download the app.</button>
                <br>

                <div style="color: #777777;">Write to us at <a href="mailto:spade@colus.com.my"  style="text-decoration: underline; font-style: italic;">spade@colus.com.my</a> to get a trial access. </div>
            </div>    
        </div>
        <div id="right_container">
            <img src="assets/image/Artboard 1 copy 2.png" alt="img" class='imageTop'>
        </div>
    </div>
</body>
