<body>
    <div id="main_container">
        <div id="left_container">
            <div  style="font-weight: bold; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                <div style="color: var(--first-color);">We are working a great Price for you!</div>
                <div style="color: var(--first-color);">Sign up and download the app.</div>
                <div style="color: var(--first-color);">Write to us at <label  style="text-decoration: underline; font-style: italic;">spade@colus.com.my</label> to get a trial access. </div>
            </div>    
        </div>
        <div id="right_container">
            PTICTURE**************
        </div>
    </div>
</body>
