<!-- <div Class="navMenu" id="nav-menu">
    <ul Class="navList">
        <li Class="navItem">
            <a routerLink="/" Class="navLink">
                <img src="assets/image/logo.png" alt="Logo" Class="navLogo" />
            </a>
        </li>
        <li Class="navItem">
            <a class="navLink" routerLink="/signup" >SignUp</a>
        </li>
         <li Class="navItem">
            @Html.ActionLink("Download", "Download", "Spade", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Download", "active-link", String.Empty)})
        </li>
        <li Class="navItem">
            @Html.ActionLink("Pricing", "Pricing", "Home", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Pricing", "active-link", String.Empty)})
        </li>
        <li Class="navItem">
            @Html.ActionLink("Contact", "Contact", "Home", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Contact", "active-link", String.Empty)})
        </li> 
    </ul>
</div> -->
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="/assets/css/Header.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <header Class="header" id="header">
        <nav Class="nav mainContainer">
            <a routerLink="/" Class="navLink">
                <img src="assets/image/logo.png" alt="Logo" Class="navLogo" />
            </a>
    
    
            <div id="nav-menu" [ngClass]="{'navMenu':true,'show-menu': isMenuVisible}">
                <ul Class="navList">
                    <li Class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/'}" (click)="linkAction()" routerLink="">Home</a>
    
    
                    </li>
                    <li Class="navItem">
    
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/download'}" (click)="linkAction()" routerLink="download">Download</a>
                    </li>
                    <li Class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/price'}" (click)="linkAction()" routerLink="price">Pricing</a>
    
                        <!-- @Html.ActionLink("Pricing", "Pricing", "Home", Nothing, New With {.class = "navLink " & If(ViewContext.RouteData.Values("Action").ToString() = "Pricing", "active-link", String.Empty)}) -->
                    </li>
                    <li Class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/contact'}" (click)="linkAction()" routerLink="contact">Contact</a>
    
                        <!-- @Html.ActionLink("Contact", "Contact", "Home", Nothing, New With {.class = "navLink " & If(ViewContext.RouteData.Values("Action").ToString() = "Contact", "active-link", String.Empty)}) -->
                    </li>
                    <li *ngIf="isAuthenticated" Class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/material-list'}" (click)="linkAction()" routerLink="material-list">Teaching Material</a>
                    </li>
                    <li *ngIf="isAuthenticated" Class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/profile'}" (click)="linkAction()" routerLink="profile">Edit Profile</a>
                    </li>

                    <li *ngIf="isAuthenticated" Class="navItem reverseinviItem">
                        <Label (click)="subMenu()" id="userMenu" style="cursor:pointer"[ngClass]="{'navLink': true, 'active-link': path === '/profile' || path === '/manage-user'}" >Profile</Label>
                    </li>

                    <div *ngIf="isAuthenticated" [ngClass]="{'subMenuWrap':true,'open-menu':isOpenMenu}" id="subMenu">
                         <div Class="subMenu">
                             <div Class="userInfo">
                                 <h2> {{user_information?.data?.username}}</h2>
                             </div>
                             <hr>

                             <div style="display:flex;">
                                 <i style="color:white; display:flex; align-items:center; margin-right:1em" Class="ri-profile-line"></i>
                                 <a [ngClass]="{'subMenuLink': true, 'active-link': path === '/profile'}" (click)="linkAction()" routerLink="profile">View Profile</a>
                             </div>

                            <div class="inviItem" *ngIf="user_information?.data?.role === 'Admin'" style = "display:flex;" >
                                <i style="color:white; display:flex; align-items:center; margin-right:1em" Class="ri-profile-line"></i>
                                <a [ngClass]="{'subMenuLink': true, 'active-link': path === '/manage-user'}" (click)="linkAction()" routerLink="manage-user">Manage User</a>
                            </div>

                             <div class="inviItem" style="display:flex">
                                 <i style="color:red; display:flex; align-items:center; margin-right:1em" Class="ri-logout-box-line"></i>
                                 <a ngClass="subMenuLink logout" (click)="linkAction()" routerLink="logout">Log Out</a>
                             </div>

                         </div>
                    </div>
                    <li *ngIf="user_information !== undefined && user_information?.data?.role === 'Admin' && isAuthenticated" Class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/manage-user'}" (click)="linkAction()" routerLink="manage-user">Manage User</a>
                    </li>
                    <li *ngIf="isAuthenticated" Class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/logout'}" (click)="linkAction()" routerLink="logout">Log Out</a>
                    </li>
                    <li *ngIf="user_information === null" Class="navItem ">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/login'}" (click)="linkAction()" routerLink="login">Log In</a>
                    </li>                    
                    
                    <li *ngIf="user_information === null" Class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/email-verification'}" (click)="linkAction()" routerLink="email-verification">Sign Up</a>
                    </li>

                </ul>

                <div Class="navClose" id="nav-close" (click)="hideMenu()">
                    <i Class="ri-close-line"></i>
                </div>
            </div>
    
            <div Class="navToggle" id="nav-toggle" (click)="showMenu()">
                <i Class="ri-menu-line"></i>
            </div>
        </nav>
    </header>
