<!-- <div class="navMenu" id="nav-menu">
    <ul class="navList">
        <li class="navItem">
            <a routerLink="/" class="navLink">
                <img src="assets/image/logo.png" alt="Logo" class="navLogo" />
            </a>
        </li>
        <li class="navItem">
            <a class="navLink" routerLink="/signup" >SignUp</a>
        </li>
         <li class="navItem">
            @Html.ActionLink("Download", "Download", "Spade", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Download", "active-link", String.Empty)})
        </li>
        <li class="navItem">
            @Html.ActionLink("Pricing", "Pricing", "Home", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Pricing", "active-link", String.Empty)})
        </li>
        <li class="navItem">
            @Html.ActionLink("Contact", "Contact", "Home", Nothing, New With {.class = "navLink " &
            If(ViewContext.RouteData.Values("Action").ToString() = "Contact", "active-link", String.Empty)})
        </li> 
    </ul>
</div> -->

<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <header class="header" id="header">
        <nav class="nav mainContainer">
            <a routerLink="/" class="navLink">
                <img src="assets/image/colus.png" alt="Logo" class="navLogo" />
            </a>
    
    
            <div id="nav-menu" [ngClass]="{'navMenu':true,'show-menu': isMenuVisible}">
                <ul class="navList">
                    <li class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/'}" (click)="linkAction()"  href="https://spademy.com">Home</a>
                    </li>
                    <!-- <li class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/about'}" (click)="linkAction()" routerLink="about">About</a>
                    </li> -->
                    <li class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/download'}" (click)="linkAction()" routerLink="download">Download</a>
                    </li>
                    <li class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/pricing'}" (click)="linkAction()" routerLink="pricing">Pricing</a>
                    </li>
                    <li class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/contact'}" (click)="linkAction()" routerLink="contact">Contact</a>
                    </li>
                    <li *ngIf="isAuthenticated" class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/material-list'}" (click)="linkAction()" routerLink="material-list">Teaching Material</a>
                    </li>
                    <li *ngIf="isAuthenticated" class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/profile'}" (click)="linkAction()" routerLink="profile">Edit Profile</a>
                    </li>

                    <li *ngIf="isAuthenticated" class="navItem reverseinviItem">
                        <Label (click)="subMenu()" id="userMenu" style="cursor:pointer"[ngClass]="{'navLink': true, 'active-link': path === '/profile' || path === '/manage-user'}" >Profile</Label>
                    </li>

                    <div *ngIf="isAuthenticated" [ngClass]="{'subMenuWrap':true,'open-menu':isOpenMenu}" id="subMenu">
                         <div class="subMenu">
                             <div class="userInfo">
                                 <h2 class="truncate-text"> {{user_information?.data?.username}}</h2>
                             </div>
                             <hr>

                             <div style="display:flex;">
                                 <i style="color:white; display:flex; align-items:center; margin-right:1em" class="ri-profile-line"></i>
                                 <a [ngClass]="{'subMenuLink': true, 'active-link': path === '/profile'}" (click)="linkAction()" routerLink="profile">View Profile</a>
                             </div>

                            <div class="inviItem" *ngIf="user_information?.data?.role === 'Admin'" style = "display:flex;" >
                                <i style="color:white; display:flex; align-items:center; margin-right:1em" class="ri-profile-line"></i>
                                <a [ngClass]="{'subMenuLink': true, 'active-link': path === '/manage-user'}" (click)="linkAction()" routerLink="manage-user">Manage User</a>
                            </div>

                             <div class="inviItem" style="display:flex">
                                 <i style="color:red; display:flex; align-items:center; margin-right:1em;" class="ri-logout-box-line"></i>
                                 <a ngClass="subMenuLink logout" (click)="linkAction()" routerLink="logout">Log Out</a>
                             </div>

                         </div>
                    </div>
                    <li *ngIf="user_information !== undefined && user_information?.data?.role === 'Admin' && isAuthenticated" class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/manage-user'}" (click)="linkAction()" routerLink="manage-user">Manage User</a>
                    </li>
                    <li *ngIf="isAuthenticated" class="navItem inviItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/logout'}" (click)="linkAction()" routerLink="logout">Log Out</a>
                    </li>
                    <li *ngIf="user_information === null" class="navItem ">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/login'}" (click)="linkAction()" routerLink="login">Log In</a>
                    </li>                    
                    
                    <!-- <li *ngIf="user_information === null" class="navItem">
                        <a [ngClass]="{'navLink': true, 'active-link': path === '/email-verification'}" (click)="linkAction()" routerLink="email-verification">Sign Up</a>
                    </li> -->

                </ul>

                <div class="navClose" id="nav-close" (click)="hideMenu()">
                    <i class="ri-close-line"></i>
                </div>
            </div>
    
            <div class="navToggle" id="nav-toggle" (click)="showMenu()">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>