<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<!--=============== CSS ===============-->
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="/assets/css/Signin.css">
<body>
    <section class="container">
        <div class="loginContent">
            <img src="/assets/image/spade-bg-login.jpg" alt="login image" class="signupImg">
    
            <form id="forgot_password2_form" [formGroup]="formGroup" (ngSubmit)="submit()"  class="loginForm">
                <div>
                    <h1 class="loginTitle">
                        <span>Forgot</span> Password
                    </h1>
                    <p class="loginDescription">
                        Please enter password to continue
                    </p>
                </div>
    
                <div *ngIf="msg !== ''">
                    <div *ngIf=" msg === 'Password not match.' || msg === 'Password must be at least 6 characters long.' || msg === 'Please enter information.'|| msg === 'No user found.'">
                        <div class="error">
                            <p>
                                {{msg}}
                            </p>
                        </div>
                    </div>

                    <div *ngIf="msg !== 'Password not match.' && msg !== 'Password must be at least 6 characters long.' && msg !== 'Please enter information.' && msg !== 'No user found.'">
                        <div class="success">
                            <p>
                                {{msg}}
                            </p>
                        </div>
                    </div>
                </div>    
                <div>
                    <div class="loginInputs">   
                        <div id="new_password_div" >
                            <label for="password" class="loginLabel">New Password</label>
                            <input type="password" name="password" formControlName="pass" placeholder="Enter your password" class="loginInput" id="password" required>
                        </div>
                        <div id="confirm_password_div">
                            <Label for="confirmpassword" class="loginLabel">Confirm Password</Label>
                            <input type="password" id="confirm_password" formControlName="pass_confirm" name="confirm_password" placeholder="Confirm Password" class="loginInput" required>
                        </div>
                    </div>
                    <div>
                        <div class="loginButtons">
                            <button id="save_btn" type="submit" name="submit" class="loginButton">Change Password</button>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
    </section>
</body>