#edit_photo{
    visibility: hidden;
}

.success p{
    background: rgba(9, 255, 0, 0.471);
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0 !important;
  }