<link rel="stylesheet" href="/assets/css/Profile.css">
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
    <div class="mainContainer">

        <div style="display:flex;justify-content:space-between;">
            <label id="edit_photo" (click)="openFileInput()" class="firstButton" >
                Edit photo
            </label>
            <div style="display:flex; justify-content:flex-end;">
                <input id="editBtn"  (click)="editClick()" [ngClass]="{'firstButton':true}" name="edit" type="button" value="Edit">
                <input id="saveBtn"  class="firstButton" name="save" form="userProfileform" type="submit" value="Save">
                <button id="cancelBtn" (click)="cancelClick()"   class="cancel">Cancel</button>
            </div>
        </div>

        <div *ngIf="msg !== '' && msg !== 'Password reset email sent successfully!'">
            <div class="error">
                <p style="text-align:center;" id="error_message">
                  {{msg}}
                </p>
            </div>
        </div>
        <div *ngIf="msg == 'Password reset email sent successfully!'">
            <div class="success">
                <p style="text-align:center;" >
                  {{msg}}
                </p>
            </div>
        </div>
        <div style="display: flex; width: 100%; position: relative; margin-top: 2em; margin-bottom: 0.5em;">
            <img [src]="selectedImage ? selectedImage : '/assets/image/user.png'" style="padding-left: 4%; box-sizing: content-box;" [ngStyle]="{ 'max-width': '100px', 'min-width': '100px' }">

    
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
        </div>
        <form  [formGroup]="formGroup" (ngSubmit)="submit()"   id="userProfileform" class="panel">
            <input required id="username"   formControlName="username" name="username" class="input__field" type="text" />
            <i class="fa-solid fa-user" style="margin-bottom:2em; margin-top:2em;"><label style="font-size:medium; "  >{{user_information.data?.role}}</label></i>
    
    
            <div class="information">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <label>Email </label>
                <input type="text" disabled="true" required class="textB" name="email" id="email" value="{{user_information.data?.email}}" >
            </div>
            <div class="information">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <label>DOB </label>
                <input type="text" disabled="true" required class="textB" name="dob" id="dob" [value]="user_information.data?.dob " >
            </div>

            <div class="information">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label>First Name </label>
                <input type="text" disabled="true" required class="textB" name="first_name" id="first_name" value="{{user_information.data?.first_name}}" >
            </div>

            <div class="information">
                <i class="fa fa-user" aria-hidden="true"></i>
                <label>Last Name </label>
                <input type="text" disabled="true" required class="textB" name="last_name" id="last_name" value="{{user_information.data?.last_name}}" >
            </div>

            <div class="information">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <label>Country - State</label>
                <input type="text" disabled="true" required class="textB" name="country-state" id="country-state" value="{{user_information.data?.country}} - {{ user_information.data?.state}}" >
            </div>

            <input type="checkbox" id="edit_password_btn" name="edit_password_btn" style="display: none;" class="file-input">
            <label id="edit_password" (click)="passwordClick()" for="edit_password_btn" style="display: none; margin-top:1em; margin-bottom:1em;">
                <i class="fa-solid fa-lock"></i> &nbsp; Edit password
            </label>
    
            <!-- <div id="old_password_div" class="information hidden">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label>Old Passowrd </label>
                <input type="text" formControlName="old_password" required class="textB"  name="oldpassword" id="oldpassword" value="">
            </div>
            <div id="new_password_div" class="information hidden">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <label>New Passowrd </label>
                <input type="text" formControlName="new_password" required class="textB" name="newpassword" id="newpassword" value="">
            </div> -->
        </form>
    </div>
</body>