<link rel="stylesheet" href="/assets/css/Signin.css">
<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
  <section class="container">
    <div class="signupContent">
        <img src="/assets/image/spade-bg-create_user.png" alt="login image" class="signupImg">

        <form [formGroup]="formGroup" (ngSubmit)="submit()" class="signupForm">
            <div>
                <h1 class="loginTitle">
                    <span>Register</span> Account
                </h1>
                <p class="loginDescription">
                    Please enter your account details.
                </p>
            </div>
            <div *ngIf="msg !== '' && msg !== 'Email verification sent!'">
                <div class="error">
                    <p >
                        {{msg}}
                    </p>
                </div>
            </div>
            <div *ngIf="msg === 'Email verification sent!'">
                <div class="success">
                    <p>
                        {{msg}}
                    </p>
                </div>
            </div>

            <div class="signupInputs">
                <div>
                    <div class="inputContainer">
                        <Label for="email" class="loginLabel">Email</Label>
                        <input type="email" name="email" formControlName="email" placeholder="Enter email" value="" class="loginInput" required>
                    </div>
                    <div class="inputContainer">
                        <Label for="username" class="loginLabel">Username</Label>
                        <input type="text" name="username" formControlName="username" placeholder="Enter username" value="" class="loginInput" required>
                    </div>
                    
                   <!-- <div class="">
                        <div>
                            <Label for="role" class="loginLabel">Register As</Label>
                            <div *ngIf="user_information !== null; else elseBlock">
                                <h1>{{user_information}}</h1>
                                <div *ngIf="user_information?.data.role === 'Admin'; else elseBlock2">
                                    <input type="radio" formControlName="role"  name="role" value="Admin"> Admin
                                    <input type="radio" formControlName="role" name="role" value="Teacher"checked> Teacher
                                    <input type="radio" formControlName="role" name="role" value="Student"> Student
                                </div>
                                <ng-template #elseBlock2>
                                    <input type="radio" formControlName="role" name="role" value="Teacher">Teacher
                                    <input type="radio" formControlName="role" name="role" value="Student"checked> Student
                                </ng-template>
                            </div>
                             <ng-template #elseBlock>
                                <input type="radio" formControlName="role" name="role" value="Teacher"> Teacher
                                <input type="radio" formControlName="role" name="role" value="Student" checked> Student
                            </ng-template>                         

                        </div>
                    </div>  -->

                </div>
                <div>
                    <div class="inputContainer">
                        <Label for="createpassword" class="loginLabel">Password</Label>
                        <input type="password" name="createpassword" formControlName="password" placeholder="Password" class="loginInput" required>
                    </div>
                    <div class="inputContainer">
                        <Label for="confirmpassword" class="loginLabel">Confirm Password</Label>
                        <input type="password" name="confirmpassword" formControlName="password_confirmation"  placeholder="Confirm Password" class="loginInput" required>
                    </div>

                </div>
            </div>



            <div class="loginButtons">
                <Button class="loginButton" name="submit" type="submit">Sign Up</Button>
            </div>
        </form>
    </div>
  </section>
</body>
<!-- <div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="submit()" >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
    
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" formControlName="email"  class="form-control" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" formControlName="password"  class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="password_confirmation" class="form-label">Password</label>
            <input type="password" formControlName="password_confirmation"  class="form-control" id="password_confirmation">
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" formControlName="checkbox"  class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
 -->
