body {
    margin-top: var(--header-height);
}
.full_width_container {
    padding-top:2em;
    /* background: linear-gradient(180deg, var(--second-color), var(--first-color-lighten)); */
    position: relative;
    padding-bottom: 2em;
}


h1 {
    text-align:center;
    margin: auto;
    color: white;
}

section {
    background-color: hsla(244, 16%, 92%, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    margin-bottom: 10px;
}

section a {
    color: #007bff;
    color: var(--first-color);
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--first-color);
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

/* .firstButton:hover {
    transform: scale(1.15); 
} */
.firstButton {
    font-family			: 'Arial';
	padding				: 10px 20px;
	background-color	: #eb4549;
	color				: #ffffff;
	border				: 0px;
    /* padding: 14px 2rem;
    border-radius: 6px;
    display: inline-block;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    box-shadow: 0 6px 10px #23aae5;
    cursor: pointer;
    margin: 1.5em 1em 0.5em 0;
    transition: transform 0.3s ease;  */
}