
.panel{
    background-color:hsla(244, 16%, 92%, 0.6);
    border-radius:15px;
    padding:2%;
}
.firstButton {
    font-family			: 'Arial';
	padding				: 10px 20px;
	background-color	: #eb4549;
	color				: #ffffff;
	border				: 0px;
    margin-bottom: 1em;
    margin-right: 1em;
    cursor: pointer;
    /* padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    box-shadow: 0 6px 10px #23aae5;
     */
}
.input__field {
    
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid currentColor;
    padding: calc(var(--size-bezel) * 1.2) var(--size-bezel);
    /* background: hsla(244, 16%, 92%, 0.6); */
    border-radius: var(--size-radius);
}

#username {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: var(--color-accent);
}


.input__label {
    position: absolute;
    left: 0;
    top: 0;
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
    /* background: pink; */
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
    color: lightgray;
}

.hidden {
    display: none;
}

.textBoxH2 {
    font-weight: 700;
}

.card select {
    font-weight: bold;
}

.card input {
    font-weight: bold;
}

.card label {
    font-weight: bold;
}

.cancel {
    font-family			: 'Arial';
	padding				: 10px 20px;
	background-color	: #777777;
	color				: #ffffff;
	border				: 0px;
    margin-bottom: 1em;
    margin-right: 1em;
    cursor: pointer;
    /* padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--text-color), var(--text-color));
    color: #fff;
    font-size: var(--small-font-size);
    box-shadow: 0 6px 10px grey;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-right: 1em; */
}

#edit_password {
    font-family			: 'Arial';
	padding				: 10px 20px;
	background-color	: #eb4549;
	color				: #ffffff;
	border				: 0px;
    cursor: pointer;
    margin-bottom: 1em;
    /* padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    box-shadow: 0 6px 10px #23aae5;
    margin-bottom: 1rem;
    cursor: pointer; */
}
/* 
    #edit_password:hover {
        transform: scale(1.05);
    } */

.textB {
    /* margin-left: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--first-color);
    color: var(--first-color);
    font-weight: bold;
    width: 100%;
    display: block;
    margin-top: 1em; */
    margin-top: 1em;
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--first-color);
    background-color: white;
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: border 0.4s;
    padding-right: 36px;
}

.information i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textB:focus {
    outline: none;
    color: var(--first-color);
}

i {
    margin-right: 1em;
}

.information {
    padding: 1em;
    color: var(--first-color);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .information:hover {
        color: var(--first-color-light);
    }

#role {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: larger;
}

#save {
    display: none;
}

#cancelBtn, #saveBtn {
    display: none;
}


.hidden {
    display: none;
}
.error {
    background: hsla(0, 58%, 53%, 0.285);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

    .error p {
        color: hsl(0, 100%, 70%);  
        margin-bottom: 0 !important;

    }



    
@media screen and (max-width: 500px) {
    /* .firstButton {
        padding: 10px 0.5rem;
    }

    .cancel {
        padding: 10px 0.5rem;
    }
    #edit_password {
        padding: 10px 0.5rem;
    } */
}