<body>
    <!-- <div id="video_div">
        <video width="640" height="360" controls>
            <source src="assets\video\Promo Video 1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div> -->
    <div id="main_container">
        <div id="left_container">
            <div >
                <ul class="custom-list2" style="font-weight: bold;">
                    <li style="color: var(--first-color);">Teachers must deliver lessons and manage the classroom.</li>
                    <br>
                    <li style="color: var(--first-color);">Teachers are also expected to innovate in designing lessons that can engage and engage students.</li>
                    <br>
                    <li style="color: var(--first-color);">With SPADE, teachers can create interactive lessons, quizzes, manipulate images and showcase videos easily.</li>
                    <br>
                    <li style="color: var(--first-color);">What’s more? It works from your desktop or notebook. Just <a style="text-decoration: underline; font-style: italic;" onmouseover="this.style.color='red'" onmouseout="this.style.color='var(--first-color)'" routerLink="/email-verification">SIGN UP</a> to download the application (Windows only) & get access to various resources.</li>
                    <br>
                    <li style="color: var(--first-color);">Templates are provided. Start creating engaging learning objects and include them in your lesson plans.</li>
                    <br>
                    <li style="color: var(--first-color);"><a style="text-decoration: underline; font-style: italic;" onmouseover="this.style.color='red'" onmouseout="this.style.color='var(--first-color)'" routerLink="/download">DOWNLOAD</a> to read about the features of SPADE app.</li>
                </ul>
            </div>    
        </div>
        <div id="right_container">
            TEMP**************
        </div>
    </div>
</body>

