<body>
    <div class="mainContainer">
        <div class="topContainer">
            <div class="topRightContainer">
                <label id="spade_text">Spade</label>
                <label id="interactive_text">Interactive Teaching And Learning Application</label>
            </div>
            <div class="topLeftContainer">
                <div class="photoContainer">
                    <div style="display: flex; flex-direction: column;">
                        <img src="assets/image/1.png" alt="img" class='imageTop' />
                        <img src="assets/image/3.png" alt="img" class="imageTop" />
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <img src="assets/image/2.png" alt="img" class="imageTop" />
                        <img src="assets/image/4.png" alt="img" class="imageTop" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="middleContainer">
        <div class="middleInnerContainer">
            <label>
                Welcome to Colus Sdn. Bhd.'s Proposal for Interactive Flat Panel & Teaching Application for Schools. Our innovative solution enhances education by integrating technology and gamification while preserving the crucial role of teachers. With features like real-time lesson editing and interactive activities, our system boosts student engagement and learning outcomes. Explore our proposal to revolutionize classroom education.
            </label>
            <br>
            <br>

            <ul class="custom-list">
                <li>Children have a strong interest in learning through media and gamification.</li>
                <li>Leading educational institutions prioritize creating a conducive learning environment with trained staff using contemporary teaching methods.</li>
                <li>Upgrading education, enhancing teacher skills, and increasing students' curiosity.</li>
            </ul>
        </div>
    </div>
    <div class="mainContainer">
        <div class="bottomContainer" style="color: var(--first-color); padding:5em 0 5em 0; font-size: large;">
            <div class="bottomInnerContainer">
                <div style="max-width: 700px;">
                    <label style="font-weight: bolder;">Advantages</label> 
                    <ol class="custom-list2">
                        <li>Modernizes classroom teaching with ICT and gamification.</li>
                        <li>Enhances teachers' skills.</li>
                        <li>Allows lesson customization and assessment.</li>
                        <li>Increases student focus and engagement</li>
                        <li>Encourages student participation through interactive activities.</li>
                        <li>Provides revision materials through screen recordings.</li>
                    </ol>
                </div>
               
                <div >
                    <label style="font-weight: bolder;">Interactive Flat Panel</label>
                    <ul class="custom-list">
                        <li>Allows teachers to create and edit materials.</li>
                        <li>Materials are saved on the panel, requiring no internet connectivity.</li>
                        <li>Long lifespan (8-10 years) compared to projectors.</li>
                        <li>Functions as a Windows PC with OPS.</li>
                        <li>Real-time lesson editing with a mouse and keyboard.</li>
                        <li>Simplifies classroom setup and reduces maintenance costs.</li>
                    </ul>
                </div>
            </div>
            
            <div class="bottomInnerContainer">
                <div style="max-width: 700px;">
                    <label style="font-weight: bolder;">Interactive Teaching and Learning Application Features</label>
                    <ol class="custom-list2">
                        <li>Create or modify materials, assignments, and lessons.</li>
                        <li>Develop interactive lessons, quizzes, and activities.</li>
                        <li>Easily use digital teaching aids.</li>
                        <li>Create formative assessments.</li>
                        <li>Enhances student participation and learning.</li>
                    </ol>
                </div>
    
                <div>
                    <label style="font-weight: bolder;">Interactive Flat Panel Specifications</label>
                    <ol class="custom-list">
                        <li>Zero bonding technology.</li>
                        <li>Operating system: Windows 10.</li>
                        <li>OPS: i5 10th gen, 8GB RAM, 128GB SSD ROM.</li>
                        <li>4K resolution.</li>
                        <li>Touch input via finger or pen.</li>
                        <li>4mm AG Toughened glass.</li>
                        <li>15W speakers.</li>
                    </ol>
                </div>
            </div>
            
        </div>

    </div> -->
</body>