<link rel="stylesheet" href="/assets/css/Global.css">
<link rel="stylesheet" href="/assets/css/Edit.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body>

    <div class="mainContainer">
        <div style="display:flex; justify-content:flex-end;">
            <input id="save" class="firstButton" name="save" form="form" type="submit" value="Save">
            <a href="/material-list" class="cancel">Cancel</a>
        </div>
        <div *ngIf="msg !== '' ">
            <div Class="error">
                <p id="error_message" style="text-align:center;">
                  {{msg}}
                </p>
            </div>
        </div>
        <div id="js_error">
    
        </div>
        <form  [formGroup]="formGroup" (ngSubmit)="submit()" name="form" id="form"  enctype="multipart/form-data">
            <div id="subject_div" class="information">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                <label>Subject</label>
                <input type="text" style="cursor:pointer;" formControlName="subject" [value]="material ? material.material_subject : ''" required Class="textB" name="subject" id="subject"  placeholder="Enter subject">
            </div>
    
            <div id="title_div" class="information">
                <i class="fa fa-book" aria-hidden="true"></i>
                <label>Title</label>
                <input type="text" style="cursor:pointer;" formControlName="title" [value]="material ? material.material_title : ''" required class="textB" name="title" id="title"  placeholder="Enter title">
            </div>
    
            <div id="description_div" class="information">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                <label>Description </label>
                <input type="text" class="textB" name="description" formControlName="description" [value]="material ? material.material_description : ''" id="description" placeholder="Enter description">
            </div>
            <input type="text" name="id" id="id" formControlName="id" [value]="material ? material.id : ''" hidden />
    
            <div id="file_upload_div" class="information">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <label>File</label>
                <input type="file" (change)="onFileSelected($event)" style="cursor:pointer;" formControlName="file" required class="textB" name="file" id="file">
            </div>
        </form>
    </div>
</body>